<h2>Welcome to Serenity!</h2><br>

<h3>This website will allow you to create your Dungeons and Dragons characters and manage their spells.  Please get started by an account.<br>

<%= link_to "Create an account", '/users/new' %><br>
<%= link_to "Log in with an Existing Account", '/login' %><br> 
<%= link_to('Log in with Facebook!', '/auth/facebook') %></h3>

