<h1>Welcome to Serenity!</h1><br>
<h3>This website will allow you to create your Dungeons and Dragons characters and manage their spells.  Please get started by<%= link_to('Logging in with Facebook!', '/auth/facebook') %></h3>
