<!DOCTYPE html>
<html>
<head>
<style>
h1 { color: red; font-family: Georgia, serif;}
</style>
    <h1>Serenity</h1>
    <%= link_to 'Home', '/welcome/home' %>  <%= link_to 'Characters', '/characters' %>  <%= link_to 'Spells', '/spells' %>
    </head>
    <br>
    <body>

    <%= yield %>

    </body>
    </html>

    
