<!DOCTYPE html>
<html>
<head>
<style>
h1 { text-align: center; color: rgb(255, 52, 0); font-family: cursive;}
nav { text-align: center; background-color: grey; padding: 0 100px;}
</style>
    <h1>Serenity</h1>
    <nav><%= link_to 'Home', '/welcome/home' %>  <%= link_to 'Characters', '/characters' %>  <%= link_to 'Spells', '/spells' %></nav>
    </head>
    <br>
    <body>

    <%= yield %>

    </body>
    </html>

    
